<!-- $Id$ -->
{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

    <h2>New Account</h2>

{% if created %}

    <div id="content" style="margin-left: 20%">
      <p>A confirmation message has been sent to the email address you gave.  
        Please follow the instructions in the message to complete your registration.
      </p>
    </div>

{% else %}

  <form method="post" action="../register/">
    <center>
      <fieldset>
        <legend>Register</legend>
        
        <table class="form_table">
          <tr>
            <td><label for="id_username">Account Name:</label></td>
            <td> {{ form.username }}
              {% if form.username.errors %} <span class="error">{{ form.username.errors|join:", "}}</span> {% endif %}
            </td>
          </tr>
          <tr>
            <td><label for="id_email">Email:</label></td>
            <td>{{ form.email }} 
              {% if form.email.errors %} <span class="error">{{form.email.errors|join:", "}}</span> {% endif %}
            </td>
          </tr>
          <tr>
            <td><label for="id_password1">Password:</label></td>
            <td>{{ form.password1 }} 
              {% if form.password1.errors %}<span class="error">{{form.password1.errors|join:", " }}</span>{% endif %}
            </td>
          </tr>
          <tr>
            <td><label for="id_password2">Repeat Password:</label></td>
            <td>{{ form.password2 }} 
              {% if form.password2.errors %}<span class="error">{{form.password2.errors|join:", " }}</span>{% endif %}
            </td>
          </tr>
        </table>
          
        <input type="submit" value="Register">
      </fieldset>
    </center>
  </form>
    
{% endif %}

{% endblock %}