<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- $Id$ -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>CastSampler - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="all"
        href="/static/css/site.css" />
        
   <script type="text/javascript">
          djConfig = { isDebug: true };
   </script>

   <script type="text/javascript" src="/static/js/dojo/dojo.js"></script>

   <script type="text/javascript">
            dojo.require("dojo.dom.*");
            dojo.require("dojo.event.*");
            dojo.require("dojo.html.*");
            dojo.require("dojo.io.*");
            dojo.require("dojo.json");
            dojo.require("dojo.lfx.*");
            dojo.require("dojo.style.*");
   </script>

  <script type="text/javascript">
    /*
    ** STATUS MESSAGE
    **
    ** Handle a status message display.  We highlight the new message
    ** if it is not empty on first display.  When clearing the
    ** message, we fade it out then hide it entirely.
    */
    function show_status(message) {
      var node = dojo.byId("status_message");
      node.innerHTML = message;
      if (message != "") {
        dojo.lfx.html.fadeShow(node, 1).play();
      }
    }

    function clear_status() {
      var node = dojo.byId("status_message");
      dojo.lfx.html.fadeHide(node, 200).play();
    }

    function show_error(parent_node_name, message) {
        var parent_node = dojo.byId(parent_node_name);

        var new_node = document.createElement("div");
        new_node.setAttribute("class", "error");
        new_node.appendChild(document.createTextNode(payload["error"]));

        parent_node.appendChild(new_node);
        dojo.lfx.html.wipeIn(parent_node, 1).play();
    }

    function clear_error(parent_node_name) {
      var parent_node = dojo.byId(parent_node_name);
      parent_node.innerHTML = "";
      dojo.lfx.html.wipeOut(parent_node, 1).play();
    }
  </script>

{% block javascript %}
{% endblock %}

</head>

<body>

{% block menu_bar %}
    <div id="menu_bar">
      <span id="sitename"><a href="/">CastSampler</a></span>

{% if user.is_authenticated %}
      <div id="menu_bar_r">
        <span>{{ user }}</span> |
        <a href="/accounts/logout">Logout</a>
      </div>
      <div id="menu_bar_l">
        <a class="menu_item" href="/">Home</a>
        <a class="last_menu_item" href="/cast/{{ user }}">My Queue</a>
      </div>
{% else %}
      <div id="menu_bar_r">
        <a href="/accounts/login">Login</a> | 
        <a href="/accounts/register">Register</a>
      </div>
      <div id="menu_bar_l">
        <a class="last_menu_item" href="/">Home</a>
      </div>
{% endif %}

    </div>
{% endblock %}

{% block body %}
    <div id="content">
      {% block content %}{% endblock %}
    </div>

    {% block status %}<div id="status_message" class="message"></div>{% endblock %}
{% endblock %}

  <script type="text/javascript">
      node = dojo.byId("status_message");
      dojo.style.hide(node);
  </script>
</body>
</html>