<!-- $Id$ -->
{% extends "base.html" %}

{% block title %}{% endblock %}

{% block body %}

{% block sidebar_l_wrapper %}
    <div id="sidebar_l">
      {% block sidebar_l %}
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
      {% endblock %}
    </div>
{% endblock %}

{% block sidebar_r_wrapper %}
    <div id="sidebar_r">
      {% block sidebar_r %}
      {% endblock %}
    </div>
{% endblock %}

    <div id="center_column">
        {% block content %}{% endblock %}
    </div>

{% endblock %}

</body>
</html>