{% extends "two_columns.html" %}

<!-- $Id$ -->

{% block title %}Home{% endblock %}

{% block content %}
  <div class="mainpage">
    
    <ul>
      <li>Sample individual episodes from podcasts without subscribing to
        all of them, so you only download the content you actually want.</li>
      <li>Create a shared podcast feed for a group to share episodes
        you all find interesting.</li>
      <li>Create a "custom mix playlist" for a special occasion.</li>
    </ul>

{% if not user %}  
    <div style="font-size: 150%">
      <a href="/accounts/login">Login</a> to the guest account (password <tt>guest</tt>) or
    </div>
    <div style="font-size: 200%">
      <a href="register">Sign up now...</a>
    </div>
{% endif %}

  </div>
{% endblock %}

{% block sidebar_r %}

  <script type="text/javascript">
    function submit_form(form_name) {
      var form = dojo.byId(form_name);
      form.submit();
      return false;
    }
  </script>

  {% if newest_podcasts %}
  <h1>New</h1>
  {% for podcast in newest_podcasts %}
  <div class="sidebar_podcast_wrapper">
    <div class="sidebar_podcast_add">
      <form id="add_newest_{{podcast.id}}" method="post" action="/cast/{{user}}/">
        <input type="hidden" name="url" value="{{podcast.feed_url}}" />
        <a href="javascript: submit_form('add_newest_{{podcast.id}}')">
          <img alt="Add {{podcast.name}} to subscriptions" 
            title="Add {{podcast.name}} to subscriptions"
            src="/static/images/add.png"/></a>
      </form>
    </div>
    <div class="sidebar_podcast">
      <a href="{{podcast.home_url}}" target="_blank">{{podcast.name}}</a>
      <a href="{{podcast.feed_url}}" target="_blank"><img alt="Show feed" title="Show feed" src="/static/images/feed-icon-14x14.png"/></a>
    </div>
  </div>
  {% endfor %}
  {% endif %}

  {% if popular_podcasts %}
  <h1>Popular</h1>
  {% for podcast in popular_podcasts %}
  <div class="sidebar_podcast_wrapper">
    <div class="sidebar_podcast_add">
      <form id="add_popular_{{podcast.id}}" method="post" action="/cast/{{user}}/">
        <input type="hidden" name="url" value="{{podcast.feed_url}}" />
          <a href="javascript: submit_form('add_popular_{{podcast.id}}')">
            <img alt="Add {{podcast.name}} to subscriptions" 
              title="Add {{podcast.name}} to subscriptions"
              src="/static/images/add.png"/></a>
      </form>
    </div>
    <div class="sidebar_podcast">
      <a href="{{podcast.home_url}}" target="_blank">{{podcast.name}}</a>
      <a href="{{podcast.feed_url}}" target="_blank"><img alt="Show feed" title="Show feed" src="/static/images/feed-icon-14x14.png"/></a>
    </div>
  </div>
  {% endfor %}
  {% endif %}

{% endblock %}