<!-- $Id$ -->
{% extends "two_columns.html" %}

{% block title %}{{ user }}{% endblock %}

{% block head %}
  <link rel="alternate" type="application/rss+xml"
    title="{{user.name}}'s CastSampler Feed"
    href="../feed/rss/{{user}}" />
{% endblock %}

{% block javascript %}
   <script type="text/javascript"
    src="/static/js/oneoffcast/user.js"></script>

  <script type="text/javascript">
    dojo.event.connect(window, "onload", user_onload);
  </script>

{% endblock %}

{% block content %}

  <form id="add_feed" method="post" name="add_feed">
    <fieldset>
      <legend>Add feed</legend>

      <table class="form_table">
        <tr>
          <td><label for="url">Feed URL:</label></td>
          <td>{{ add_feed.url }} </td>
          <td><input type="submit" value="add" onclick="return do_add_feed()" /></td>
        </tr>
      </table>

      <div id="add_feed_results"></div>

    </fieldset>
  </form>

  <fieldset>
    <legend>My Podcasts</legend>
    <ul id="my_podcasts">
    </ul>

  </fieldset>

  <div id="feed_viewer"></div>

{% endblock %}

{% block sidebar_r %}

    <h2>Current Queue <a href="../feed/rss/{{user}}"><img alt="RSS feed"
          src="/static/images/feed-icon-14x14.png" /></a></h2>
    <div id="queue">
    </div>
    
{% endblock %}