<!-- $Id$ -->
{% extends "two_columns.html" %}

{% block title %}{{ user }}{% endblock %}

{% block head %}
  <link rel="alternate" type="application/rss+xml"
    title="{{user}}'s CastSampler Feed"
    href="../feed/rss/{{user}}" />
{% endblock %}

{% block javascript %}
   <script type="text/javascript"
    src="/static/js/oneoffcast/user.js"></script>

  <script type="text/javascript">
    var initial_queue = {{ queue }};
    var initial_subscriptions = {{ subscriptions }};

    dojo.event.connect(window, "onload", user_onload);
  </script>

{% endblock %}

{% block content %}

  <form id="add_feed" method="post" name="add_feed" onsubmit="return do_add_feed()">
    <fieldset>
      <legend>Add feed</legend>

      <table class="form_table">
        <tr>
          <td><label for="url">Feed URL:</label></td>
          <td>{{ add_feed.url }} </td>
          <td>
              <button dojoType="UserButton" onclick="return do_add_feed()">Add</button>
            </td>
        </tr>
      </table>

      <div id="add_feed_results"></div>

    </fieldset>
  </form>

  <fieldset id="my_subscriptions_wrapper">
    <legend><a href="subscriptions"><img
          src="/static/images/opml-icon-16x16.png" /></a> My Subscriptions</legend>
    <ul id="my_subscriptions">
    </ul>

  </fieldset>

  <div id="feed_viewer"></div>

{% endblock %}

{% block sidebar_r %}

    <div class="queue_wrapper">
      <h2>Current Queue <a href="../feed/rss/{{user}}"><img alt="RSS feed"
            src="/static/images/feed-icon-14x14.png" /></a></h2>
      <div id="queue">
      </div>
    </div>

{% endblock %}