<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- $Id$ -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>OneOffCast - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="all"
      href="/static/css/site.css" />
</head>

<body>
    <div id="sitename"><a href="/">CastSampler</a></div>

    <div id="menu_bar">
      <div id="menu_bar_r">
{% if user.is_authenticated %}
        <span>{{ user }}</span> |
        <a href="/accounts/logout">Logout</a>
{% else %}
        <a href="/accounts/login">Login</a> | 
        <a href="/accounts/register">Register</a>
{% endif %}
      </div>
    </div>

{% block sidebar_l_wrapper %}
    <div id="sidebar_l">
      {% block sidebar_l %}
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
      {% endblock %}
    </div>
{% endblock %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>

{% block sidebar_r_wrapper %}
    <div id="sidebar_r">
      {% block sidebar_r %}
      {% endblock %}
    </div>
{% endblock %}

</body>
</html>