<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- $Id$ -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>OneOffCast - {% block title %}{% endblock %}</title>
</head>

<body>
{% block sidebar %}
    <div id="sidebar">
{% if user.is_authenticated %}

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/accounts/logout">Logout</a></li>
        </ul>
{% else %}
    <ul>
        <li><a href="/">Home</a></li>    
        <li><a href="/accounts/login">Login</a></li>
        <li><a href="/accounts/register">Register</a></li>
    </ul>
{% endif %}
    </div>
{% endblock %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>