<!-- $Id$ -->
{% extends "two_columns.html" %}

{% block title %}{{ user }}{% endblock %}

{% block content %}

  <script type="text/javascript">
/*
dojo.io.bind({
    url: "http://foo.bar.com/processForm.cgi",

  load: function(type, evaldObj){ /* do something * },
    formNode:
  document.getElementById("formToSubmit")
});
*/

  /*
  ** ADD FEED form
  */
  function do_add_feed() {
    show_status("Loading feed...");

    clear_feed_viewer();

    dojo.io.bind({ 
      url: "add_feed/",
      handler: add_feed_callback,
      formNode: document.getElementById("add_feed")
    });
    return false;
  }

  function add_feed_callback(type, data, evt) {
    clear_status();
    clear_feed_viewer();
    clear_error("add_feed_results");

    dojo.debug(data);

    if (type == "load") {

      payload = dojo.json.evalJson(data);

      if (payload["error"] != "") {
        show_error("add_feed_results", payload["error"]);
      }
      else {
        /* need to show the feed contents here */
      }

    } else if (type == "error") {
      dojo.debugShallow(data);
      clear_feed_viewer();
    }
   }

  /*
  ** SHOW FEEDS form
  */
  function do_show_feeds() {
    return false;
  }

  function clear_feed_viewer() {
    var node = dojo.byId("feed_viewer");
    dojo.lfx.html.wipeOut(node, 1).play();
    node.innerHTML = "";
    return false;
  }

  </script>


  <form id="add_feed" method="post" name="add_feed">
    <fieldset>
      <legend>Add feed</legend>

      <table class="form_table">
        <tr>
          <td><label for="url">Feed URL:</label></td>
          <td>{{ add_feed.url }} </td>
          <td><input type="submit" value="add" onclick="return do_add_feed()" /></td>
        </tr>
      </table>

      <div id="add_feed_results"></div>

    </fieldset>
  </form>

  <fieldset>
    <legend>My Podcasts</legend>
    <ul>
      {% for podcast in user.podcast_set.all %}
      <li>{{ podcast }}</li>
      {% endfor %}
    </ul>
  </fieldset>

  <div id="feed_viewer"></div>

{% endblock %}

{% block sidebar_r %}

<h2>Current Queue</h2>
<dl class="queue">
{% for item in queued_items %}
  <dt><a class="podcast_title" href="{{item.link}}">{{item.title}}</a>
      - 
      <a class="podcast_home" href="{{item.podcast.home_url}}">{{ item.podcast.name }}</a>
    </dt>

  <dd><div class="item_description">{{ item.description }}</div><a class="item_enclosure"
          href="{{item.item_enclosure_url}}">enclosure</a></dd>

{% endfor %}
</dl>

<a href="../feed/atom/{{user}}">Atom feed</a><br>
<a href="../feed/rss/{{user}}">RSS feed</a>

{% endblock %}