<!-- $Id$ -->
{% extends "three_columns.html" %}

{% block title %}{{ user }}{% endblock %}

{% block content %}
{% endblock %}

{% block sidebar_r %}

<h2>Current Queue</h2>
<dl>
{% for item in queued_items %}
  <dt><a href="{{item.podcast.home_url}}">{{ item.podcast.name }}</a> - <a href="{{item.link}}">{{ item.title }}</a></dt>
  <dd>{{ item.description }}<br><a href="{{item.item_enclosure_url}}">enclosure</a></dd>
{% endfor %}
</dl>

<a href="../feed/atom/{{user}}">Atom feed</a><br>
<a href="../feed/rss/{{user}}">RSS feed</a>

{% endblock %}