<!-- $Id$ -->
{% extends "two_columns.html" %}

{% block title %}{{ user }}{% endblock %}

{% block content %}

  <script type="text/javascript">
/*
dojo.io.bind({
    url: "http://foo.bar.com/processForm.cgi",

  load: function(type, evaldObj){ /* do something * },
    formNode:
  document.getElementById("formToSubmit")
});
*/

  /*
  ** Handle the add_by_feed form.
  */
  function do_show_feed_contents() {
    dojo.io.bind({ 
      url: "show_feed_contents/",
      handler: callBack,
      formNode: document.getElementById("show_feed_contents")
    });
    return false;
  }

   function callBack(type, data, evt) {
    if (type == "load") {
      dojo.byId('result').innerHTML = data;
    } else if (type == "error") {
    //alert('got an error, need to do something with it:' + data);
    dojo.debugShallow(data);
      dojo.byId('result').innerHTML = "";
    }
   }

  </script>


  <form id="show_feed_contents" method="post" name="show_feed_contents">
    <fieldset>
      <legend>Add from feed</legend>

      <table class="form_table">
        <tr>
          <td><label for="url">Feed URL:</label></td>
          <td>{{ show_feed_contents.url }} </td>
          <td><input type="submit" value="show feed" onclick="return do_show_feed_contents()" /></td>
        </tr>
      </table>

      <div id="result"></div>
    </fieldset>
  </form>


{% endblock %}

{% block sidebar_r %}

<h2>Current Queue</h2>
<dl class="queue">
{% for item in queued_items %}
  <dt><a class="podcast_title" href="{{item.link}}">{{item.title}}</a>
      - 
      <a class="podcast_home" href="{{item.podcast.home_url}}">{{ item.podcast.name }}</a>
    </dt>

  <dd><div class="item_description">{{ item.description }}</div><a class="item_enclosure"
          href="{{item.item_enclosure_url}}">enclosure</a></dd>

{% endfor %}
</dl>

<a href="../feed/atom/{{user}}">Atom feed</a><br>
<a href="../feed/rss/{{user}}">RSS feed</a>

{% endblock %}