<!-- $Id$ -->
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>

    {% if form.has_errors %}
    <center><div class="error">Your username and password didn't match. Please try again.</div></center>
    {% endif %}

    <form method="post" action=".">
      <center>
        <fieldset style="width: 50%">
          <legend>Login</legend>
          
          <table class="form_table">
            <tr><td><label for="id_username">Username:</label></td><td>{{ form.username }}</td></tr>
            <tr><td><label for="id_password">Password:</label></td><td>{{ form.password }}</td></tr>
          </table>
        
        <input type="submit" value="login" />
          <input type="hidden" name="next" value="{{ next }}" />
        </fieldset>
      </center>
    </form>
{% endblock %}